.sectionHeaderImg{
    background-image: url(../img/Egger/download.png);
    background-size: 75px;
    background-repeat: repeat;
    width: 100%;
    height: 100vh;
}


.sectionHeader{   
    height: 70vh;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}