

.btnn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1.25rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}


.custom-section {
  text-align: center;
  margin:40px 0;
   padding-top:0 !important;
}

.custom-section h3 {
  font-size: 24px;
  color: #333;
}

.custom-section p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.image-box {
  width: 300px; 
  height: 300px; 
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 8px; 
}


@media (max-width: 768px) {
  .image-container {
    flex-direction: column;
    gap: 15px;
  }

  .image-box {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1; 
    padding:40px;
  }
  
  
.custom-section {
   padding-top:0 !important;
}


  }
  
  
}