/* General Styles */
body {
    font-family: 'Inter', Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    min-height: 100vh;
}

h1, h2, h3 {
    font-family: 'Inter', Arial, sans-serif;
    color: #2c3e50;
}

/* Article Styles */
article {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 30px;
    margin: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

article h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #34495e;
    text-align: left;
    max-width: 90ch;
    width: 100%;
    overflow-wrap: anywhere;
    margin-left: auto;
    margin-right: auto;
}

article .published-at {
    font-size: 14px;
    color: #7f8c8d;
    margin-bottom: 20px;
    text-align: center;
}

article h2 {
    font-size: 24px;
    margin: 20px 0;
    color: #2980b9;
    text-align: left; /* Align h2 to the left */
    max-width: 90ch; /* Keeps the h2 aligned with the text */
    margin-left: 0;
}

article p {
    font-size: 16px;
    margin: 15px 0;
    text-align: left;
    max-width: 90ch;
}

article img {
    display: block;
    margin: 20px auto;
    max-width: 90ch; /* Image width will match text width */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

article a {
    color: #3c8fe7 !important;
    text-decoration: underline;
    transition: color 0.3s ease;
}

article a:hover {
    color: #c0392b;
}

/* Responsive Design */
@media (max-width: 768px) {
    article h1 {
        font-size: 28px;
    }

    article h2 {
        font-size: 20px;
    }

    article p {
        font-size: 14px;
    }

    article img {
        max-width: 100%;
        margin: 10px 0;
        flex-basis: 100%;
    }

    article .text-content {
        flex-basis: 100%;
    }
}
